{% extends "base.html" %}

{% block title %}
    Invoices
{% endblock %}

{% block content %}
    <div class="flex flex-row">
        <button id="btn-show-select-clients-form" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">New Invoice</button>
    </div>

    <!-- Select Clients Form Dialog -->
    <dialog id="dialog-select-clients-form" class="w-128 m-auto p-4 flex flex-col bg-gray-50 rounded-lg" hidden>
        <!-- Heading -->
        <div class="mb-4 flex flex-row justify-between">
            <h2 id="h2-select-clients-form" class="text-2xl font-bold">Select Clients to Invoice</h2>
            <button id="btn-hide-select-clients-form" class="cursor-pointer group">
                <svg width="1.875rem" height="1.875rem" xmlns="http://www.w3.org/2000/svg" fill="transparent" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="transition-[fill] duration-200 group-hover:fill-[oklch(70.7%_0.165_254.624)]">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </div>
        <!-- Form -->
        <form>
            <!-- table of clients -->
            <div class="relative w-full h-full mb-4 overflow-scroll flex flex-col bg-white shadow-md rounded-lg bg-clip-border">
                <table class="w-full min-w-max table-auto text-left">
                    <thead>
                        <tr class="h-[2rem] bg-{{ colorTheme }} border-b">
                            <th class="w-[5%] p-2"></th>
                            <th class="w-[45%] p-2">Client Name</th>
                            <th class="w-[50%] p-2">Client Business Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr class="h-[2rem]">
                            <td class="p-2"><input type="checkbox"></td>
                            <td class="p-2">{{ client.name }}</td>
                            <td class="p-2">{{ client.business_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Submit Form -->
            <div class="mt-4 flex justify-end">
                <button id="" type="submit" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Next</button>
            </div>
        </form>
    </dialog>
{% endblock %}

{% block javascript %}
    <script src="/static/js/invoices.js"></script>
{% endblock %}