{% extends "base.html" %}

{% block title %}
    Quotes & Invoices
{% endblock %}

{% if colorTheme == "emerald-400" %}
    {% set tableRowHoverColor = "oklch(90.5% 0.093 164.15)" %} <!-- emerald 200 -->
    {% set quotes_invoices_iconHoverColor = "oklch(59.6% 0.145 163.225)" %} <!-- emerald 600 -->
    {% set quotes_invoices_closeFormIconHoverColor = "oklch(76.5% 0.177 163.223)" %} <!-- emerald 400 -->
{% elif colorTheme == "blue-400" %}
    {% set tableRowHoverColor = "oklch(88.2% 0.059 254.128)" %} <!-- blue 200 -->
    {% set quotes_invoices_iconHoverColor = "oklch(54.6% 0.245 262.881)" %} <!-- blue 600 -->
    {% set quotes_invoices_closeFormIconHoverColor = "oklch(70.7% 0.165 254.624)" %} <!-- blue 400 -->
{% elif colorTheme == "violet-400" %}
    {% set tableRowHoverColor = "oklch(89.4% 0.057 293.283)" %} <!-- violet 200 -->
    {% set quotes_invoices_iconHoverColor = "oklch(54.1% 0.281 293.009)" %} <!-- violet 600 -->
    {% set quotes_invoices_closeFormIconHoverColor = "oklch(70.2% 0.183 293.541)" %} <!-- violet 400 -->
{% elif colorTheme == "fuchsia-400" %}
    {% set tableRowHoverColor = "oklch(90.3% 0.076 319.62)" %} <!-- fuchsia 200 -->
    {% set quotes_invoices_iconHoverColor = "oklch(59.1% 0.293 322.896)" %} <!-- fuchsia 600 -->
    {% set quotes_invoices_closeFormIconHoverColor = "oklch(74% 0.238 322.16)" %} <!-- fuchsia 400 -->
{% elif colorTheme == "rose-400" %}
    {% set tableRowHoverColor = "oklch(89.2% 0.058 10.001)" %} <!-- rose 200 -->
    {% set quotes_invoices_iconHoverColor = "oklch(58.6% 0.253 17.585)" %} <!-- rose 600 -->
    {% set quotes_invoices_closeFormIconHoverColor = "oklch(71.2% 0.194 13.428)" %} <!-- rose 400 -->
{% endif %}

{% block css %}
    <style>
        #tbody_all-quotes tr:hover {
            background-color: {{ tableRowHoverColor }};
        }

        .icon-wrapper {
            position: relative;
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
        }

        .form-icon-wrapper {
            position: relative;
            display: inline-block;
            width: 1.875rem;
            height: 1.875rem;
        }

        .icon, .form-icon-wrapper .icon {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.2s ease;
        }

        .icon.solid, .form-icon-wrapper .icon.solid {
            opacity: 0; /* hide solid by default */
            transition: opacity 0.3s;
        }

        .icon-wrapper:hover .icon.solid, .form-icon-wrapper:hover .icon.solid { opacity: 1; }
        .icon-wrapper:hover .icon.outline, .form-icon-wrapper:hover .icon.outline { opacity: 0; }
    </style>
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-8">
        <!-- Quotes History -->
        <div>
            <div class="mb-4 flex flex-row justify-between">
                <h1 class="text-3xl font-bold">Past Quotes</h1>
                <button hidden id="btn_show-quote-form" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">New Quote(s)</button>
            </div>
            <!-- table of quotes -->
            <div class="relative w-full h-[50%] overflow-scroll flex flex-col bg-white shadow-md rounded-lg bg-clip-border">
                <table class="w-full min-w-max table-auto text-left">
                    <thead>
                        <tr class="h-[2.25rem] bg-{{ colorTheme }} border-b">
                            <th class="w-[30%] p-4">Client Name</th>
                            <th class="w-[30%] p-4">Client Business Name</th>
                            <th class="w-[15%] p-4">Quote No.</th>
                            <th class="w-[15%] p-4">Issue Date</th>
                            <th class="w-[10%] p-4"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody_all-quotes">
                        {% for quote in quotes %}
                            {% for client in clients %}
                                {% if quote.client_id == client.id %}
                                    <tr class="h-[2.25rem] hover:bg-{{ tableHoverColor }}">
                                        <td class="p-4">{{ client.name }}</td>
                                        <td class="p-4">{{ client.business_name }}</td>
                                        <td class="p-4">{{ quote.quote_no }}</td>
                                        <td class="p-4">{{ quote.issue_date }}</td>
                                        <td class="flex p-4">
                                            <!-- Download Icons -->
                                            <a href="/quotes_and_invoices/download_quote?client_id={{ client.id }}&quote_id={{ quote.id }}" class="flex cursor-pointer">
                                                <div class="icon-wrapper overflow-hidden flex-shrink-0">
                                                    <span class="icon outline">{{ heroicon_outline("arrow-down-tray", width="1.25rem", height="1.25rem") }}</span>
                                                    <span class="icon solid">{{ heroicon_solid("arrow-down-tray", width="1.25rem", height="1.25rem", color=quotes_invoices_iconHoverColor) }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Invoices History -->
        <div>
            <div class="mb-4 flex flex-row justify-between">
                <h1 class="text-3xl font-bold">Past Invoices</h1>
                <button hidden id="btn_show-invoice-form" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">New Invoice(s)</button>
            </div>
            <!-- table of invoices -->
            <div class="relative w-full h-full overflow-scroll flex flex-col bg-white shadow-md rounded-lg bg-clip-border">
                <table class="w-full min-w-max table-auto text-left">
                    <thead>
                        <tr class="h-[2.25rem] bg-{{ colorTheme }} border-b">
                            <th class="w-[30%] p-4">Client Name</th>
                            <th class="w-[30%] p-4">Client Business Name</th>
                            <th class="w-[15%] p-4">Invoice No.</th>
                            <th class="w-[15%] p-4">Issue Date</th>
                            <th class="w-[10%] p-4"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody_all-quotes">
                        {% for invoice in invoices %}
                            {% for client in clients %}
                                {% if invoice.client_id == client.id %}
                                    <tr class="h-[2.25rem] hover:bg-{{ tableHoverColor }}">
                                        <td class="p-4">{{ client.name }}</td>
                                        <td class="p-4">{{ client.business_name }}</td>
                                        <td class="p-4">{{ invoice.invoice_no }}</td>
                                        <td class="p-4">{{ invoice.issue_date }}</td>
                                        <td class="flex p-4">
                                            <!-- Download Icons -->
                                            <a href="/quotes_and_invoices/download_invoice?client_id={{ client.id }}&invoice_id={{ invoice.id }}" class="flex cursor-pointer">
                                                <div class="icon-wrapper overflow-hidden flex-shrink-0">
                                                    <span class="icon outline">{{ heroicon_outline("arrow-down-tray", width="1.25rem", height="1.25rem") }}</span>
                                                    <span class="icon solid">{{ heroicon_solid("arrow-down-tray", width="1.25rem", height="1.25rem", color=quotes_invoices_iconHoverColor) }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Quote Form Dialog -->
    <dialog id="dialog_quote-form" class="w-224 m-auto p-4 flex flex-col bg-gray-50 rounded-lg" hidden>
        <!-- Form Header -->
        <div class="mb-2 flex flex-row justify-between">
            <h2 class="text-2xl font-bold">New Quote(s)</h2>
            <button id="btn_hide-quote-form" class="cursor-pointer group">
                <div class="form-icon-wrapper overflow-hidden flex-shrink-0">
                    <span class="icon outline">{{ heroicon_outline("x-circle", width="1.875rem", height="1.875rem") }}</span>
                    <span class="icon solid">{{ heroicon_solid("x-circle", width="1.875rem", height="1.875rem", color=quotes_quotes_closeFormIconHoverColor) }}</span>
                </div>
            </button>
        </div>
        <!-- Form -->
        <form id="form_quote-form" action="/quotes_and_invoices/send_quotes" method="post" data-color-theme="{{ colorTheme }}">
            <!-- Frame 1 -->
            <div id="div_quote-form_frame-1" class="flex flex-col">
                <!-- info text -->
                <p class="mb-2 text-base">Select client(s) from the table below to quote:</p>
                <!-- table of clients -->
                <div class="relative w-full h-full mb-4 overflow-scroll flex flex-col bg-white shadow-md rounded-lg bg-clip-border">
                    <table class="w-full min-w-max table-auto text-left">
                        <thead>
                            <tr class="h-[2rem] bg-{{ colorTheme }} border-b">
                                <th class="w-[5%] p-2"></th>
                                <th class="w-[45%] p-2">Client Name</th>
                                <th class="w-[50%] p-2">Client Business Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr class="h-[2rem]">
                                <td class="p-2 text-center">
                                    <input type="checkbox"
                                        id="input_quote-form_client-id-{{ client.id }}"
                                        data-client-id="{{ client.id }}"
                                        data-client-name="{{ client.name }}"
                                        data-client-business-name="{{ client.business_name }}"
                                        class="w-4 h-4 cursor-pointer"
                                    >
                                </td>
                                <td class="p-2">{{ client.name }}</td>
                                <td class="p-2">{{ client.business_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="btn_quote-form_show-frame-2" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Next</button>
                </div>
            </div>
            <!-- Frame 2 -->
            <div id="div_quote-form_frame-2" class="flex flex-col gap-2" hidden>
                <div id="quote-form_client-quote-profiles-container" class="flex flex-col gap-2">
                    <!-- Client Quote Profiles for selected clients rendered dynamically with JavaScript -->
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-start">
                        <button type="button" id="btn_quote-form_show-frame-1" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Back</button>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" id="" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Send Quote(s)</button>
                    </div>
                </div>
            </div>
            <!-- hidden input storing the selected client IDs -->
            <input type="text" id="input_quote-form_client-ids" name="client-ids" value="" hidden>
        </form>
    </dialog>

    <!-- Invoice Form Dialog -->
    <dialog id="dialog_invoice-form" class="w-224 m-auto p-4 flex flex-col bg-gray-50 rounded-lg" hidden>
        <!-- Form Header -->
        <div class="mb-2 flex flex-row justify-between">
            <h2 class="text-2xl font-bold">New Invoice(s)</h2>
            <button id="btn_hide-invoice-form" class="cursor-pointer group">
                <div class="form-icon-wrapper overflow-hidden flex-shrink-0">
                    <span class="icon outline">{{ heroicon_outline("x-circle", width="1.875rem", height="1.875rem") }}</span>
                    <span class="icon solid">{{ heroicon_solid("x-circle", width="1.875rem", height="1.875rem", color=quotes_invoices_closeFormIconHoverColor) }}</span>
                </div>
            </button>
        </div>
        <!-- Form -->
        <form id="form_invoice-form" action="/quotes_and_invoices/send_invoices" method="post" data-color-theme="{{ colorTheme }}">
            <!-- Frame 1 -->
            <div id="div_invoice-form_frame-1" class="flex flex-col">
                <!-- info text -->
                <p class="mb-2 text-base">Select client(s) from the table below to invoice:</p>
                <!-- table of clients -->
                <div class="relative w-full h-full mb-4 overflow-scroll flex flex-col bg-white shadow-md rounded-lg bg-clip-border">
                    <table class="w-full min-w-max table-auto text-left">
                        <thead>
                            <tr class="h-[2rem] bg-{{ colorTheme }} border-b">
                                <th class="w-[5%] p-2"></th>
                                <th class="w-[45%] p-2">Client Name</th>
                                <th class="w-[50%] p-2">Client Business Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr class="h-[2rem]">
                                <td class="p-2 text-center">
                                    <input type="checkbox"
                                        id="input_invoice-form_client-id-{{ client.id }}"
                                        data-client-id="{{ client.id }}"
                                        data-client-name="{{ client.name }}"
                                        data-client-business-name="{{ client.business_name }}"
                                        class="w-4 h-4 cursor-pointer"
                                    >
                                </td>
                                <td class="p-2">{{ client.name }}</td>
                                <td class="p-2">{{ client.business_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="btn_invoice-form_show-frame-2" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Next</button>
                </div>
            </div>
            <!-- Frame 2 -->
            <div id="div_invoice-form_frame-2" class="flex flex-col gap-2" hidden>
                <div id="invoice-form_client-quote-profiles-container" class="flex flex-col gap-2">
                    <!-- Client Quote Profiles for selected clients rendered dynamically with JavaScript -->
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-start">
                        <button type="button" id="btn_invoice-form_show-frame-1" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Back</button>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" id="" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Send Invoice(s)</button>
                    </div>
                </div>
            </div>
            <!-- hidden input storing the selected client IDs -->
            <input type="text" id="input_invoice-form_client-ids" name="client-ids" value="" hidden>
        </form>
    </dialog>
{% endblock %}

{% block javascript %}
    <script src="/static/js/quotes_and_invoices.js"></script>
{% endblock %}