{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <form id="form-settings" action="/settings/save_settings" method="post">
        <div class="flex flex-col">
            <div class="mb-6 flex flex-row justify-between">
                <h1 class="text-3xl font-bold">Settings</h1>
                <button id="btn-save-settings" type="submit" class="h-[2.25rem] pl-4 pr-4 bg-{{ colorTheme }} rounded-md text-base font-semibold cursor-pointer">Save</button>
            </div>

            <!-- General (App Settings) -->
            <div class="mb-4 flex flex-col gap-4">
                <h2 class="mb-2 text-2xl font-bold">General</h2>
                <!-- Theme -->
                <div class="flex flex-row items-center">
                    {% for app_setting in app_settings %}
                        {% if app_setting.id == "0000" %}
                            <p class="pr-2">Theme:</p>
                            <div id="theme-options" class="flex flex-row gap-2">
                                <span id="light" class="w-10 h-10 cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                                    </svg>
                                </span>
                                <span id="dark" class="w-10 h-10 cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                                    </svg>
                                </span>
                            </div>
                            <!-- hidden input for storing selected theme -->
                            <input id="{{ app_setting.id }}" name="{{ app_setting.id }}" value="{{ app_setting.setting_value}}" hidden>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Color Theme -->
                <div class="flex flex-row items-center">
                    {% for app_setting in app_settings %}
                        {% if app_setting.id == "0001" %}
                            <p class="pr-2">Color Theme:</p>
                            <div id="color-theme-options" class="flex flex-row gap-2">
                                <span id="emerald-400" class="w-8 h-8 rounded-sm bg-emerald-400 cursor-pointer"></span>
                                <span id="blue-400" class="w-8 h-8 rounded-sm bg-blue-400 cursor-pointer"></span>
                                <span id="violet-400" class="w-8 h-8 rounded-sm bg-violet-400 cursor-pointer"></span>
                                <span id="fuchsia-400" class="w-8 h-8 rounded-sm bg-fuchsia-400 cursor-pointer"></span>
                                <span id="rose-400" class="w-8 h-8 rounded-sm bg-rose-400 cursor-pointer"></span>
                            </div>
                            <!-- hidden input for storing selected color -->
                            <input id="{{ app_setting.id }}" name="{{ app_setting.id }}" value="{{ app_setting.setting_value}}" hidden>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Invoices -->
            <div class="mb-4 flex flex-col gap-2">
                <h2 class="mb-2 text-2xl font-bold">Invoices</h2>
                <!-- Save PDFs To (PDF Save To Path) -->
                <div class="flex flex-row items-center">
                    {% for app_setting in app_settings %}
                        {% if app_setting.id == "3000" %}
                            <p class="pr-2">Save PDFs To:</p>
                            <input type="text" id="{{ app_setting.id }}" name="{{ app_setting.id }}" class="h-[2.25rem] flex-1 p-2 border rounded-md text-base" value="{{ app_setting.setting_value}}">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/static/js/settings.js"></script>
{% endblock %}